<h1 class="text-center font-semibold text-4xl py-2 text-csgreen">Login</h1>
<p class="text-center py-4 font-extralight text-csgreen">Please enter your email or phone number to Login</p>
<form novalidate class="space-y-4" >
  <div>
    <div class="relative">
      <input
        #nameInput
        formControlName="email"
        placeholder="Email or phone number"
        type="email"
        class="w-full bg-gray-100 border-b-2 font-normal text-csgreen p-4"
        id="email-input"
      />
      <button type="button" class="p-2 absolute right-2">
      </button>
    </div>
    <div *ngIf="form.controls.email.touched && form.controls.email.invalid">
      <p
        *ngIf="form.controls.email.hasError('required')"
        class="font-medium text-red-500 text-xs mt-1 ml-1"
      >
        This field is mandatory
      </p>
      <p
        *ngIf="form.controls.email.hasError('email')"
        class="font-medium text-red-500 text-xs mt-1 ml-1"
      >
        This field should be a email
      </p>
    </div>

  </div>
  <div>
    <div class="relative">
      <input
        formControlName="password"
        placeholder="Password"
        class="w-full bg-gray-100 border-b-2 font-normal text-csgreen p-4"
        id="password-input"
      />
      <button type="button" class="p-2 absolute right-2">
      </button>
    </div>
    <div *ngIf="form.controls.password.touched && form.controls.password.invalid">
      <p
        *ngIf="form.controls.password.hasError('required')"
        class="font-medium text-red-500 text-xs mt-1 ml-1"
      >
        This field is mandatory
      </p>
      <p
        *ngIf="form.controls.password.hasError('minlength')"
        class="font-medium text-red-500 text-xs mt-1 ml-1"
      >
        This field should be greater than 6 characters
      </p>
    </div>
  </div>
  <div *ngIf="status === 'failed'">
    <p class="font-medium text-red-500 text-xs mt-1 m1-1">Credentials are invalid</p>
  </div>
  <p class="text-sm flex justify-end">Forgot password</p>
  <div>
    <app-button></app-button>
  </div>
</form>
