<h1 class="text-center font-semibold text-4xl py-2 text-csgreen">Login</h1>
<p class="text-center py-4 font-extralight text-csgreen">Please enter your email or phone number to Login</p>
<form novalidate class="space-y-4" >
  <div>
    <div class="relative">
        <label for="name">Nombre y apellidos</label>
      <input
        #nameInput
        formControlName="name"
        type="text"
        class="w-full bg-gray-100 border-b-2 font-normal text-csgreen p-4"
        id="name-input"
        />
        <button type="button" class="p-2 absolute right-2">
        </button>
      </div>
      <!-- @if (form.controls.email.touched && form.controls.email.invalid) {
        <div>
          @if (form.controls.email.hasError('required')) {
            <p
              class="font-medium text-red-500 text-xs mt-1 ml-1"
              >
              This field is mandatory
            </p>
          }
          @if (form.controls.email.hasError('email')) {
            <p
              class="font-medium text-red-500 text-xs mt-1 ml-1"
              >
              This field should be a email
            </p>
          }
        </div>
      } -->

    </div>
    <div>
      <div class="relative">
        <label for="nickname">Cómo te gusta que te llamen?</label>
        <input
          formControlName="nickname"
          class="w-full bg-gray-100 border-b-2 font-normal text-csgreen p-4"
          id="nickname-input"
          />
          <button type="button" class="p-2 absolute right-2">
          </button>
        </div>
        <!-- @if (form.controls.password.touched && form.controls.password.invalid) {
          <div>
            @if (form.controls.password.hasError('required')) {
              <p
                class="font-medium text-red-500 text-xs mt-1 ml-1"
                >
                This field is mandatory
              </p>
            }
            @if (form.controls.password.hasError('minlength')) {
              <p
                class="font-medium text-red-500 text-xs mt-1 ml-1"
                >
                This field should be greater than 6 characters
              </p>
            }
          </div>
        }
      </div>
      @if (status === 'failed') {
        <div>
          <p class="font-medium text-red-500 text-xs mt-1 m1-1">Credentials are invalid</p>
        </div>
      } -->
      </div>
      <p class="text-sm flex justify-end">Forgot password</p>
      <div>
        <app-button></app-button>
      </div>
    </form>
